<table>
    <tr ng-repeat="(key, items) in groups">
        <th>{{key}}</th>
        <td>
            <table>
                <tr ng-repeat="(key, value) in items">
                    <th>{{key}}</th>
                    <td>
                        <ob-time ng-if="value.hasOwnProperty('$date')"
                                 ob-name="name" ob-value="value">
                        </ob-time>
                        <ob-array ng-if="value.hasOwnProperty('$array')"
                                  ob-value="value">
                        </ob-array>
                        <ob-number ng-if="isNumber(value)"
                                   ob-value="value">
                        </ob-number>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>