<table>
    <tr ng-repeat="item in data">
        <th>{{item.key}}</th>
        <td>
            <ob-time ng-if="item.value.hasOwnProperty('$date')"
                     name="name" item="item">
            </ob-time>
            <ob-array ng-if="item.value.hasOwnProperty('$array')"
                     item="item">
            </ob-array>
            <span ng-if="isNumber(item.value)">{{item.value}}</span>
            
        </td>
    </tr>
</table>

<table>
    <tr ng-repeat="item in ctrl">
        <th>{{item.key}}</th>
        <td>{{item.value}}</td>
    </tr>
</table>